<div class="card">
    <div class="card-header">
        <h4><a class="link" href="/post/{{id}}">{{title}}</a></h4>
        <p>Post created by: {{user.username}} || {{format_date created}}</p>
    </div>
    <p class="card-body">{{content}}</p>
</div>